.item:nth-last-of-type(even){
    background-color: #ddd;
}
.item:nth-last-of-type(odd){
    background-color: #999;
}
.item{
    margin:10px;
    padding: 15px;
    display: flex;
}
.item .id{
    font-weight: bold;
    padding-right: 10px;
}
.item .name{
    font-weight: bold;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #fff;
}
.item .age{
    font-weight: bold;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #fff;
}